.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.counter-count
{
    font-size: 28px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
.peta{
  width:100%;
    /* Set a specific height */
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.parallax{
    /* Set a specific height */
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.employee-p,.customer-p,.order-p,.design-p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /* padding: 20px; */
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

/* .row-galery {
  margin: 8px -16px;
} */

/* Add padding BETWEEN each column (if you want) */
.row-galery,
.row-galery > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
 
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}





.navbar-custom{
  background-color:rgba(0 , 64 , 123 , 0.3);
}
.nav-link,.navbar-brand{
  font-weight: bold;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px
}
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:65px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}
.isi-visi{
  font-family: Bahnschrift SemiBold;
  color: #000000;
  font-size: 25px;
}
.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}
.icon-misi{
color: #5867dd;
}
.misi-text{
  font-size: 18x;
  font-family:Bahnschrift SemiBold;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card-service{
  border: none;
}
.img-service{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  height: 270px;
  background-position: center;
}
.title-service{
  color: #000000;
  text-shadow: 2px 4px 8px 0 white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: auto;
}
.isi-service{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-service2{
  min-height: 300px;
  background-size: 100%;
  background-image:url('/assets/images/bg/bg-8.jpg');
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.img-service3{
  min-height: 300px;
  background-size: 100%;
  background-image:url('/assets/images/bg/bg-7.jpg');
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.img-service4{
  min-height: 300px;
  background-size: 100%;
  background-image:url('/assets/images/bg/bg-6.jpg');
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.profil-banner{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.judul-profil{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2AEEC7;
  font-size: 40px;
  text-shadow: 2px 3px 3px #000000;
  font-weight: bold;
  margin-top: auto;
}

.misi-profil{
font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300;
 
}
ul.misi-profil{
  list-style: decimal; /* Remove HTML bullets */
  list-style-position: inherit;
  padding: 0;
  margin: 0;
}
.logo-klien{
  
  height: 200px;
}

.button3 {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }